@use "../abstracts" as *;

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Libre Franklin", sans-serif;
    font-weight: $light;
    font-size: $font-md;
    text-align: center;
    color: $very-dark-blue;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.visually-hidden {
    border-width: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}
